<div style=" display: flex; justify-content: center">
    <form style="display: flex; flex-direction: column;" method="post" enctype="multipart/form-data" action="index.php">
        <input type="text" name="filename" style="border-radius: 5px; padding: 5px; margin: 10px 0; border: 2px solid grey; outline: none;" placeholder="nom" aria-label="..">
        <input type="file" style="margin: 10px 0; color: red">
        <button type="submit" style="width: 80px; color: white; background: #007bff; padding: 10px 0; margin: 10px 0; outline: none;">Submit</button>
    </form>
</div>
